<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About me</title>
</head>
<body>
    <p style="text-align: center;"><span style="color: #008080;">Profile</span></p>
    <ul style="list-style-type: circle;">
        <li>T&ecirc;n: Nguyễn Hải Phong.</li>
        <li>Tuổi: 22.&nbsp;</li>
        <li>Trường: Vện&nbsp;Đại học Mở H&agrave; Nội.</li>
        <li>C&ocirc;ng việc: Kh&ocirc;ng c&oacute;.</li>
        <li>Sở th&iacute;ch:&nbsp;Đọc s&aacute;ch, chơi game, nghe nhạc, meme, tarot, nghi&ecirc;n cứu về t&acirc;m linh, t&acirc;m l&yacute; học,&nbsp;động vật, broadgame,&nbsp;đọc truyện, &acirc;m nhạc...</li>
    </ul>
</body>
</html>
