<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Kys</h1>
    <div>
    {% for port in list_posts %}
    <h3>{{port.title}}</h3>
    <p>
        <!-- <div class="G1VCxe kno-fb-ctx"></div>
            <div>Any time is the time<br />Any time for you to get my call, baby (so, baby)<br />Are you alone, baby?<br />If he ain't around, pick up your phone, baby<br />Whoa oh whoa</div>
            <div>Can you try me? (Try me), try me (try me)<br />Once you put your pride aside<br />You can notify me (-fy me), -fy me (-fy me)<br />You're the best I ever had<br />Baby girl, remind me (-mind me), -mind me (-mind me)<br />Let me know if it's on<br />And you know where to find me, find me<br />Havin' thoughts you never had, yeah</div>
            </div>
            <div class="G1VCxe kno-fb-ctx">
            <div class="iw7h9e" data-mh="-1">I didn't know you were down for him finding out<br />I thought you had some kind of love for your man<br />Well, I'm not tryna break up something<br />You've been workin' out, you've been steady<br />But I'm ready to go all the way if you let me<br />Don't you tempt me<br />You're lookin' grown since the last time I looked at you<br />It might have been, been about a couple months<br />But I just got the picture that you texted to me<br />You ain't steady, you look ready to go all the way<br />If you let me take you down on me</div>
            <div class="xpdxpnd" data-mh="176" data-mhc="1">Can you try me? (Try me), try me (try me)<br />Once you put your pride aside (once you put your pride aside)<br />You can notify me (-fy me), -fy me (-fy me)<br />You're the best I ever had (you're the best I ever had)<br />Baby girl, remind me (-mind me), -mind me (-mind me)<br />Let me know if it's on (let me know)<br />You know where to find me, find me (hey)<br />Havin' thoughts you never had, yeah</div>
            <div class="xpdxpnd" data-mh="176" data-mhc="1">Can you try me? Try me, try me<br />Once you put your pride aside<br />You can notify me, -fy me<br />You're the best I ever had (you're the best I ever had)<br />Baby girl, remind me, -mind me<br />Lemme know if it's on (let me know)<br />And you know where to find me (find me), find me (find me)&nbsp;<br />Having thoughts you never had, yeah</div>
            <div class="xpdxpnd" data-mh="110" data-mhc="1">Oh, lo<br />Lo-lo-lo-lo-lo-lo<br />Lo-lo-lo-lo-lo, lo-lo-lo<br />Lo-lo-lo-lo-lo-lo<br />Better try me</div>
            <div class="xpdxpnd" data-mh="132" data-mhc="1">Don't you mess with me now (Don't you mess with me now)<br />Don't you mess with me (Don't you mess with me)<br />The way I kissed your scars (The way I kissed your scars)<br />The way I fixed your heart, oh<br />Don't you miss me, babe? (Don't you miss me, babe?)<br />Don't you miss me, baby? (Don't you miss me, baby?)</div>
        </div> -->
        {{port.content}}
    </p>
    <i>
        {#{% if port.gender == 1%}
            By: Mr 
        {% elif port.gender == 0%}
            By: Mrs     
        {% endif %}
        {{port.author}}
        #}
    </i>
        {% endfor %}
    </div>
</body>
</html>

