<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% include "homepage/nav.html" %}
    <h1 class="text-center">All Models</h1>
    {% for model in all_models %}
    <div class="container bootstrap snippet">
            <div class="panel-body inf-content">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="{{ model.avatar }}" 
                        data-original-title="Usuario"> 
                    </div>
                    <div class="col-md-6">
                        <strong>Thông tin</strong><br>
                        <div class="table-responsive">
                        <table class="table table-condensed table-responsive table-user-information">
                            <tbody>
                                <tr>    
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-user text-primary"></span>    
                                            Tên                                                
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ model.name }}     
                                    </td>
                                </tr>
                                <tr>        
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                            Năm sinh                                                
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ model.yob }}  
                                    </td>
                                </tr>
            
                                <tr>        
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                            Giới tính                                                
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ model.gender }} 
                                    </td>
                                </tr>         
                                <tr>        
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                            Chiều cao                                             
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ model.height }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                        <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                            Số điện thoại
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ model.phone_numb }}
                                    </td>
                                </tr>             
                                <tr>
                                    <td>
                                        <strong>
                                        <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                            Địa chỉ
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ model.address }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="glyphicon glyphicon-eye-open text-primary">
                                        <strong>
                                            Tính cách
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ model.description }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="glyphicon glyphicon-eye-open text-primary">
                                        <strong>
                                            Số đo các vòng
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ model.measurements }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="glyphicon glyphicon-eye-open text-primary">
                                        Tình trạng
                                    </td>
                    
                                    <td class="text-primary">
                                        {{ "Rảnh" if model.status == 1 else "Bận" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="glyphicon glyphicon-eye-open text-primary">
                                        <strong>
                                            <a href="{{ url_for("update_model", model_id = model.id) }}">Chỉnh sửa thông tin</a>
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="glyphicon glyphicon-eye-open text-primary"> 
                                       <strong>
                                            <a href="url_for("delete", model_id = model.id)">Xoá</a> 
                                       </strong> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <br>                   
                    </div>
                </div>
            </div>
    </div>
    <hr>
    {% endfor %}
    <div class="container">
        <button class="btn btn-text-primary">
            <a href="{{ url_for("add_new_model") }}">Thêm</a>
        </button>
        <br>
        <button class="btn btn-text-primary">
            <a href="{{ url_for("show_all_orders") }}">Xem các yêu cầu dịch vụ</a>
        </button>
        <br>
        <button class="btn btn-text-primary">
            <a href="{{ url_for("admin_log_out") }}">Đăng xuất</a>
        </button>
    </div>
</body>
</html>