<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>
    <h1>ADMIN</h1>
    <table border="1px">
        <thead>
            <th>STT</th>
            <th>Tên</th>
            <th>Năm sinh</th>
            <th>Giới tính</th>
            <th>Chiều cao</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Ảnh đại diện</th>
            <th>Tính cách</th>
            <th>Số đo các vòng</th>
            <th>Trạng thái</th>
            <th></th>
        </thead>
        <tbody>
        {% for model in all_models %}
        <tr>
           <td>{{ loop.index }}</td>
           <td>{{ model.name }}</td>
           <td>{{ model.yob }}</td>
           <!-- {% if model.gtinh == 1 %}
           <td>Nam</td>
           {% else %}
           <td>Nữ</td>
           {% endif %} -->
           <td>
               {{ "Nam" if model.gender == 1 else "Nữ" }}
           </td>
           <td>{{ model.height }}</td>
           <td>{{ model.phone_numb }}</td>
           <td>{{ model.address }}</td>
           <td><img src="{{ model.avatar }}" width="300px" height="180px"></td>
           <td>{{ model.description }}</td>
           <td>{{ model.measurements }}</td>
           {% if model.status == 1 %}
           <td>Rảnh</td>
           {% elif model.status == 0 %}
           <td>Bận</td>
           {% endif %}   
           <!-- <td>"Rảnh" if model.tinh_trang == True else "Bận" </td> -->
           <td><a href="{{ url_for("update_model", model_id = model.id) }}">Chỉnh sửa thông tin</a></td>
           <td><a href="{{ url_for("delete", model_id = model.id) }}">Xoá</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for("add_new_model") }}">Thêm</a>
    <br>
    <a href="{{ url_for("show_all_orders") }}">Xem yêu cầu dịch vụ</a>
    <br>
    <a href="{{ url_for("admin_log_out") }}">Đăng xuất</a>
</body>
</html>