<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
</head>
<body>
    <h1>Chi tiết</h1>
    <ul>
        <img src="{{ model.avatar }}" width="300px" height="180px">
        <li>T&ecirc;n:&nbsp;{{ model.name }}</li>
        <li>Năm sinh: {{ model.yob }}</li>
        <li>Giới t&iacute;nh: {{ "Nam" if model.gender == 1 else "Nữ" }}</li>
        <li>Chiều cao: {{ model.height }}</li>
        <li>Số&nbsp;điện thoại: {{ model.phone_numb }}</li>
        <li>Địa chỉ: {{ model.address }}</li>
        <li>Số&nbsp;đo c&aacute;c v&ograve;ng: {{ model.measurements }}</li>
        <li>T&iacute;nh c&aacute;ch: {{ model.description }}</li>
        <li>Trạng th&aacute;i: {{ "Rảnh" if model.status == 1 else "Bận" }}</li>
        </ul>
    <a href="{{ url_for("order_service", model_id = model.id, user_id = session["user_logged_in_id"]) }}">Yêu cầu dịch vụ</a>    
</body>
</html>