<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% if session["user_logged_in"] == True %}
    {% include "homepage/user-logged-in-nav.html" %}
    {% else %}
    {% include "homepage/nav.html" %}
    {% endif %}
    {% include "homepage/carousel.html" %}
    <div class="container">
        <br>
        <p class="text-center font-weight-bold">Chào mừng các bạn đã đến mới Mùa đông không lạnh</p>
        <br>
        <p class="text-center font-lobster font-weight-bold">"Chúng tôi ở đây để giúp cho các bạn có mối quan hệ tốt đẹp với gia đình và người thân trong khi vẫn 
            giữ được sự tự do và riêng tư, cũng như quyết định của bản thân"</p>
    </div>
    <div class="d-flex justify-content-around h-400px w-100">
        <div class="h-180px w-35">
            <img src="../static/image/image/male.jpg" alt="" class="fit-container">
        </div>
        <div class="h-180px w-35">
            <img src="../static/image/image/female.jpg" alt="" class="fit-container">
        </div>
    </div>
</body>
</html>