<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% if session["user_logged_in"] == True %}
    {% include "homepage/user-logged-in-nav.html" %}
    {% else %}
    {% include "homepage/nav.html" %}
    {% endif %}
    <h1 class="text-center">All Models</h1>
    {% for model in all_models %}
    <div class="container bootstrap snippet">
        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-4">
                    <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="{{ model.avatar }}" 
                    data-original-title="Usuario"> 
                </div>
                <div class="col-md-6">
                    <strong>Thông tin</strong><br>
                    <div class="table-responsive">
                    <table class="table table-condensed table-responsive table-user-information">
                        <tbody>
                            <tr>    
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-primary"></span>    
                                        Tên                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ model.name }}     
                                </td>
                            </tr>
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                        Năm sinh                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ model.yob }}  
                                </td>
                            </tr>
        
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                        Chiều cao                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ model.height }} 
                                </td>
                            </tr>
        
        
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                        Trạng thái                                             
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ "Rảnh" if model.status == 1 else "Bận" }}
                                </td>
                            </tr>
                            <tr>
                                {% if model.status == 1 %}
                                <td>
                                    <strong>
                                        <a href="{{ url_for("detail", model_id = model.id) }}">Tìm hiểu thêm</a>
                                    </strong>
                                </td>
                                {% else %}
                                <td>
                                    <strong>
                                        N/A
                                    </strong>
                                </td>
                                {% endif %}
                            </tr>                              
                        </tbody>
                    </table>
                    </div>
                    <br>                   
                </div>
            </div>
        </div>
        </div>
        <hr>
        {% endfor %}
        <a href="{{ url_for("user_log_out") }}">Đăng xuất</a>                                           
</body>
</html>