<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mua dong khong lanh</title>
</head>
<body>
    <h1>Search</h1>
    <div>
    <p style="text-align: center;">Profile</p>
    {% for model in all_models %}
    <ul>
        {% if model.gender == 1 %}
        <img src="../static/image/image/male-profile.jpg">
        {% else %}
        <img src="../static/image/image/female-profile.jpg">
        {% endif %}
        <br>
        <li>T&ecirc;n: {{ model.name }}</li>
        <li>Năm sinh: {{ model.yob }}</li>
        <li>Giới t&iacute;nh: {{ model.gender }}</li>
        <li>Chều cao: {{ model.height }}</li>
        <li>Số&nbsp;đện thoại: {{ model.phone_numb }}</li>
        <li>Địa chỉ: {{ model.address }}</li>
        <li>Trạng th&aacute;i: {{ model.status }} &nbsp;</li>        
    </ul>
    <a href="{{ url_for("detail", model_id = model.id) }}">Tìm hiểu thêm</a>
    <hr>
    {% endfor %}
    </div>
</body>
</html>