<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% include "homepage/nav.html" %}
    <h2 class="text-center">Đăng ký tài khoản</h2>
    <div class="container">
        <form method="POST">
                <label>Tên đầy đủ</label>
                <br>
                <input type="text" name="full-name" class="span3">
                <br>
                <label>Email</label>
                <br>
                <input type="text" name="email" class="span3">
                <br>
                <label>Tên tài khoản</label>
                <br>
                <input type="email" name="sign-in" class="span3">
                <br>
                <label>Username</label>
                <br>
                <input type="text" name="password" class="span3">
                <br>
                <label>Password</label>
                <br>
                <input type="password" name="password" class="span3">
                <br>
                <label><input type="checkbox" name="terms"> Tôi đồng ý với <a href="#">các điều khoản</a>.</label>
                <br>
                <input type="submit" value="Đăng ký" class="btn btn-primary pull-right">
                <div class="clearfix"></div>
        </form>
</body>
</html>