#flex-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#title {

}

.images {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat; 
}

.d1 {
    width: 200px;
    height: 400px;
}