<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CMS App</title>
</head>
<body>
    <h1>CMS App</h1>
    <h2><a href="{{ url_for("login") }}">Đăng nhập</a></h2>
    {% for video in all_videos %}
    <div>
        <img src="{{ video.thumbnail }}" alt="thumbnail" width="300px" height="200px">
        <br>
        <b>{{ video.title }}</b>
        <br>
        <b>Views: {{ video.views }}</b>
        <br>
        <a href="{{url_for("detail", youtube_id=video.youtube_id)}}" target="blank">Xem</a>
    </div>
    <hr>
    <br>
    {% endfor %}
</body>
</html>